---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

# Line length
ColumnLimit: 120

# Braces
AllowShortFunctionsOnASingleLine: Empty

# Alignment
PointerAlignment: Left

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*\.h"'
    Priority: 1
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3
