name: Check Build
# This workflow is triggered on pull requests that modify files in the 'src' directory or the '.clang-tidy' configuration file.
# It checks out the repository, installs dependencies, and builds the project using CMake in Debug mode.

on:
  pull_request:
    paths:
      - 'src/**'
      - '.clang-tidy'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-tidy cmake g++ build-essential

      - name: Configure & Build
        run: |
          mkdir -p build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Debug
          cmake --build .
